@import 'utils';

.Home {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;

    .sidePanel {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        width: 12em;
        height: 100%;
        background-color: #323844;
        padding: 5em 0 1em 0;

        .tagsList {
            height: 90%;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
        }

        .tag {
            position: relative;
            width: 100%;
            height: 3em;
            padding: 1em;
            background-color: darken(#323844, 5%);
            color: #d0d0d0;
            margin-bottom: 1em;
            &:hover {
                cursor: pointer;
            }

            .edit {
                position: absolute;
                right: 0.5em;
                top: 0.5em;
                background-color: #323844;
                color: #e0e0e0;
                height: 2em;
                width: 2em;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
                z-index: 5;
            }
        }

        .divider {
            margin: 0 5% 1.25em 5%;
            width: 90%;
            border-top: 2px solid darken(#323844, 5%);
        }

        .divider.reverse {
            @extend .divider;
            margin: 1.25em 5% 0 5%;
        }

        .addTag {
            height: 9%;

            button {
                margin-top: 1em;
                border: 1px solid darken(#323844, 10%)
            }
        }
    }

    .container {
        margin-left: 12em;

        .header {
            padding: 1em 2em;
            background-color: darken(#323844, 5%);
            border-bottom: 2px solid #323844;
            height: 4em;
        }

        .diagrams {
            padding: 2em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
    
            .preview {
                position: relative;
                width: 15em;
                height: 12em;
                padding: 1em;
                display: inline-flex;
                flex-direction: column;
                justify-content: space-between;
                background-color: lighten($bg-color, 10%);
                color: #d0d0d0;
                border-radius: 5px;
                box-shadow: -4px 5px 6px 1px rgba(0,0,0,0.65);
                overflow-y: scroll;
                &::-webkit-scrollbar {
                    display: none;
                }
    
                h2 {
                    margin: 0;
                    text-align: center;
                    font-size: 1.4em;
                }
    
                p {
                    margin: 1em 0 0 0;
                }
    
                .edit {
                    position: absolute;
                    bottom: 0.1em;
                    right: 0.1em;
                    background-color: #164499;
                    padding: 0.4em 0.9em;
                    border-radius: 3px;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}